.fullscreen-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-loading-container {
  text-align: center;
  color: white;
}

.fullscreen-loading-dots {
  display: inline-block;
}

.fullscreen-loading-dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}

.fullscreen-loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.fullscreen-loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}