@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  [data-visible] {
    @apply col-start-1 row-start-1 data-[visible='false']:invisible;
  }

  .contents-layered {
    @apply grid grid-cols-1 grid-rows-1;
  }
}
